{% extends "index/base.html" %}
{% block content %}
{% for paste in pastes %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ paste.author.profile.image.url }}" >
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ paste.author }}</a>
      <small class="text-muted">{{ paste.date }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'paste-detail' paste.id %}">{{ paste.title }}</a></h2>
    <p class="article-content">{{ paste.content }}</p>
  </div>
</article>
{% endfor %}
{% endblock %}
